@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

body, html{
    background-color: rgb(56, 81, 122, 0.93);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.container {
 
}
.Intro-Header{
    position: relative;
    left: 65px;
    color: white;
    position: relative;
    top: 250px;
    font-family: Alegreya;
}
img{
    border-radius: 50%;
    position: relative;
    bottom: 100px;
    position: relative;
    left: 45px;
    border-color: black;
    border-style: solid;
}
    