@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-image: url("images/bakery.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: alegreya;
}
.nav-list {
    display: flex;
    flex-direction: row;
    gap: 170px;
    color: white;
    font-size: 20px;
    margin-left: 18%;
}
main {
    color: white;
    font-style: italic;
    font-size: 32px;
    position: relative;
    left: 400px;
    top: 145px;
    font-weight: bold;
}
#totbaked {
    width: 995px;
    height: 500px;
    border-style: solid;
    border-radius: 14px;
    border-color: rgb(237, 196, 216, 0.00);
    position: relative;
    right: 15px;
    bottom: 30px;
}
.nav-list a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
.page_home{
    margin-left: 45%;
    position: relative; top: 12px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
#home_icon{
    color: white;
    position: relative; 
    right: 100px;
    top: 10px;
}
#icon{
    position: relative;
    left: 10px;
    
}
